{"openapi":"3.0.1","info":{"title":"pca-api","description":"Parque Caribe Aventura API","contact":{"name":"Infomedia","url":"https://www.infomediaservice.com/"},"version":"1.0"},"externalDocs":{"description":"Testing - Hikcentral events WebSocket","url":"../testing/hkev/index.html"},"servers":[{"url":"https://pcabackend.infomediaservice.online:9000","description":"Generated server url"}],"tags":[{"name":"Boleteria","description":"Api para el manejo de reservas, boletas y visitantes."},{"name":"Lockers","description":"Api para manejo de lockers"},{"name":"Reportes","description":"Apis para la generacion de reportes."},{"name":"Gestion de usuarios","description":"Apis para gestionar la informacion de cuentas de usuario, roles y permisos."},{"name":"Contenido","description":"Api para acceder a contenido almacenado en el servidor."},{"name":"Vending Machine","description":"Api para manejo de las vending machines"},{"name":"Gestion de clientes","description":"Api para gestionar la informacion de los clientes."},{"name":"TransaccionPago","description":"Api para el manejar el registro de transacciones de pago."},{"name":"Parqueadero","description":"Api para el manejo del parqueadero."},{"name":"Autenticacion","description":"Api para el manejo de acceso y autenticacion a las Apis."},{"name":"Gestion de Hikcentral","description":"Api para gestionar la integracion con la plataforma de Hikcentral."},{"name":"Configuracion General","description":"Api para gestionar la configuracion global de la aplicacion."}],"paths":{"/api/vendingMachine/updateStock":{"post":{"tags":["Vending Machine"],"summary":"Actualizar el Stock de un producto","operationId":"updateStock","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostStockProduct"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/vendingMachine/updateProduct":{"post":{"tags":["Vending Machine"],"summary":"Actualizar la informacion de un producto asociado a una vending machine.","operationId":"updateProduct","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostUpdateProduct"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/vendingMachine/subtractStock":{"post":{"tags":["Vending Machine"],"summary":"Restar el Stock de un producto.","operationId":"subtractStock","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostStockProduct"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/vendingMachine/nuevaVenta":{"post":{"tags":["Vending Machine"],"summary":"Realizar una venta.","operationId":"salesRequest","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostSalesRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/users/role":{"post":{"tags":["Gestion de usuarios"],"summary":"Crear un nuevo rol.","operationId":"postRole","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostRole"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Gestion de usuarios"],"summary":"Actualizar datos de un rol.","operationId":"patchRole","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchRole"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/users/roleMenu":{"post":{"tags":["Gestion de usuarios"],"summary":"Permitir al rol especificado el acceso a los menus.","operationId":"postRoleMenu","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostRoleMenu"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"delete":{"tags":["Gestion de usuarios"],"summary":"Denegar al rol especificado el acceso a los menus.","operationId":"delRoleMenu","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DelRoleMenu"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/users/menu":{"post":{"tags":["Gestion de usuarios"],"summary":"Crear un nuevo menu.","operationId":"postMenu","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostMenu"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"delete":{"tags":["Gestion de usuarios"],"summary":"Eliminar un menu.","operationId":"delMenu","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DelMenu"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Gestion de usuarios"],"summary":"Actualizar datos de un menu.","operationId":"patchMenu","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchMenu"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/users/account":{"get":{"tags":["Gestion de usuarios"],"summary":"Obtener informacion de la cuenta del usuario actual.","operationId":"getAccount","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Account"}}}}},"security":[{"JWT_Token":[]}]},"post":{"tags":["Gestion de usuarios"],"summary":"Registrar una nueva cuenta de usuario para el uso de las Apis.","operationId":"postAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostAccount"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Gestion de usuarios"],"summary":"Actualizar datos de una cuenta de usuario.","operationId":"patchAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchAccount"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/transaccionPago":{"post":{"tags":["TransaccionPago"],"summary":"Registrar una nueva transaccion de pago.","operationId":"postTransaccionPago","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTransaccionPago"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/zona":{"get":{"tags":["Parqueadero"],"summary":"Obtener informacion de las zonas de parqueadero.","operationId":"getZona","parameters":[{"name":"idZonaParqueadero","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ZonaParqueadero"}}}}}},"security":[{"JWT_Token":[]}]},"post":{"tags":["Parqueadero"],"summary":"Crear una zona de parqueadero.","operationId":"postZona","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostZonaParqueadero"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Parqueadero"],"summary":"Actualizar datos de una zona de parqueadero.","operationId":"patchZona","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchZonaParqueadero"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/tipoVehiculo":{"get":{"tags":["Parqueadero"],"summary":"Obtener informacion de los tipos de vehiculo existentes.","operationId":"getTipoVehiculo","parameters":[{"name":"idTipoVehiculo","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TipoVehiculo"}}}}}},"security":[{"JWT_Token":[]}]},"post":{"tags":["Parqueadero"],"summary":"Crear un tipo de vehiculo.","operationId":"tipoVehiculo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTipoVehiculo"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Parqueadero"],"summary":"Actualizar datos de un tipo de vehiculo.","operationId":"patchTipoVehiculo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchTipoVehiculo"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/tipoServicio":{"get":{"tags":["Parqueadero"],"summary":"Obtener informacion de tipos de servicio existentes.","operationId":"getTipoServicio","parameters":[{"name":"idTipoServicio","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TipoServicioParqueadero"}}}}}},"security":[{"JWT_Token":[]}]},"post":{"tags":["Parqueadero"],"summary":"Crear un tipo de servicio.","operationId":"tipoServicio","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTipoServicioParqueadero"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Parqueadero"],"summary":"Actualizar datos de un tipo de servicio.","operationId":"patchTipoServicio","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchTipoServicioParqueadero"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/tipoNovedad":{"post":{"tags":["Parqueadero"],"summary":"Crear un tipo de novedad.","operationId":"tipoNovedad","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTipoNovedadParqueadero"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Parqueadero"],"summary":"Actualizar datos de un tipo de novedad.","operationId":"patchTipoNovedad","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchTipoNovedadParqueadero"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/tarifa":{"get":{"tags":["Parqueadero"],"summary":"Obtener informacion de las tarifas existentes.","operationId":"getTarifa","parameters":[{"name":"idTarifa","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Tarifa"}}}}}},"security":[{"JWT_Token":[]}]},"post":{"tags":["Parqueadero"],"summary":"Crear una tarifa de parqueadero.","operationId":"postTarifa","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTarifa"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Parqueadero"],"summary":"Actualizar datos de una tarifa de parqueadero.","operationId":"patchTarifa","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchTarifa"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/registroVehiculo":{"get":{"tags":["Parqueadero"],"summary":"Obtener el registro un vehiculo.","operationId":"getRegistroVehiculo","parameters":[{"name":"idRegistroVehiculo","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegistroVehiculo"}}}}},"security":[{"JWT_Token":[]}]},"post":{"tags":["Parqueadero"],"summary":"Registrar la entrada de un vehiculo.","operationId":"postRegistroVehiculo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostRegistroVehiculo"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/novedad":{"post":{"tags":["Parqueadero"],"summary":"Crear una novedad.","operationId":"novedad","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostNovedadParqueadero"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Parqueadero"],"summary":"Actualizar datos de una novedad.","operationId":"patchNovedad","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchNovedadParqueadero"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/novedadActividad":{"post":{"tags":["Parqueadero"],"summary":"Crear una actividad para una novedad.","operationId":"novedadActividad","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostNovedadActividad"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Parqueadero"],"summary":"Actualizar datos de actividad de la novedad.","operationId":"patchNovedadActividad","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchNovedadActividad"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/novedadActividadEvidencia":{"post":{"tags":["Parqueadero"],"summary":"Registrar una evidencia para una actividad de una novedad.","operationId":"novedadActividadEvidencia","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostNovedadActividadEvidencia"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/infoRegistroVehiculoQR":{"post":{"tags":["Parqueadero"],"summary":"Obtener informacion del registro de vehiculo usando la imagen del codigo QR.","operationId":"infoRegistroVehiculoQR","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InfoRegistroVehiculoQRRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RegistroVehiculo"}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/fotoVehiculo":{"post":{"tags":["Parqueadero"],"summary":"Agregar una foto al registro de vehiculo.","operationId":"postFotoVehiculo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostRegistroVehiculoFoto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/disponibilidad":{"get":{"tags":["Parqueadero"],"summary":"Obtener informacion de la disponibilidad en la fecha especificada.","operationId":"getDisponibilidad","parameters":[{"name":"fecha","in":"query","description":"dd-MM-yyyy","required":true,"schema":{"type":"string","format":"date"}},{"name":"idZonaParqueadero","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DisponibilidadParqueadero"}}}}}},"security":[{"JWT_Token":[]}]},"post":{"tags":["Parqueadero"],"summary":"Crear disponbilidad en la fecha especificada.","operationId":"postDisponibilidad","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostDisponibilidadParqueadero"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Parqueadero"],"summary":"Actualizar datos de una disponibilidad de parqueadero.","operationId":"patchDisponbilidad","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchDisponibilidadParqueadero"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/descuento":{"get":{"tags":["Parqueadero"],"summary":"Obtener informacion de los descuentos de parqueadero.","operationId":"getDescuento","parameters":[{"name":"idDescuentoParqueadero","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DescuentoParqueadero"}}}}}},"security":[{"JWT_Token":[]}]},"post":{"tags":["Parqueadero"],"summary":"Crear un descuento de parqueadero.","operationId":"postDescuento","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostDescuentoParqueadero"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Parqueadero"],"summary":"Actualizar datos de un descuento de parqueadero.","operationId":"patchDescuento","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchDescuentoParqueadero"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/lockers/visitanteCodigoAbrirCasillero":{"post":{"tags":["Lockers"],"summary":"Abrir locker asociado al visitante especificado usando numero de identificacion y codigo.","operationId":"visitanteCodigoAbrirCasillero","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostVisitanteCodigoAbrirCasillero"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"JWT_Token":[]}]}},"/api/lockers/open":{"post":{"tags":["Lockers"],"summary":"Apertura de locker.","operationId":"open","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostOpenLocker"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"JWT_Token":[]}]}},"/api/hikcentral/visitante":{"get":{"tags":["Gestion de Hikcentral"],"summary":"Obtener informacion registrada de un visitante.","operationId":"getVisitante","parameters":[{"name":"idVisitante","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Person"}}}}},"security":[{"JWT_Token":[]}]},"post":{"tags":["Gestion de Hikcentral"],"summary":"Registrar un visitante.","operationId":"postVisitante","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostHCVisitante"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"delete":{"tags":["Gestion de Hikcentral"],"summary":"Eliminar un visitante.","operationId":"delVisitante","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DelHCVisitante"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Gestion de Hikcentral"],"summary":"Actualizar la informacion del visitante.","operationId":"patchVisitante","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchHCVisitante"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/hikcentral/vehicle":{"get":{"tags":["Gestion de Hikcentral"],"summary":"Obtener informacion registrada de un vehiculo.","operationId":"getVehicle","parameters":[{"name":"vehicleId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Vehicle"}}}}},"security":[{"JWT_Token":[]}]},"post":{"tags":["Gestion de Hikcentral"],"summary":"Registrar un vehiculo.","operationId":"postVehicle","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostHCVehicle"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"delete":{"tags":["Gestion de Hikcentral"],"summary":"Eliminar un vehiculo.","operationId":"delVehicle","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DelHCVehicle"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/hikcentral/eventUnsubscription":{"post":{"tags":["Gestion de Hikcentral"],"operationId":"eventUnsubscription","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventUnsubscriptionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/hikcentral/eventSubscription":{"post":{"tags":["Gestion de Hikcentral"],"operationId":"eventSubscription","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventSubscriptionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/hikcentral/eventRcv":{"post":{"tags":["Gestion de Hikcentral"],"operationId":"eventRcv","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonNode"},"examples":{"Hikcentral event":{"description":"Hikcentral event","value":{"method":"OnEventNotify","params":{"sendTime":"2022-02-26T14:28:04-05:00","ability":"event_acs","events":[{"eventId":"C70E45D5D9854333AAC0F432065B31C5","srcIndex":"111","srcType":"door","srcName":"Door 01","eventType":196893,"status":0,"happenTime":"2022-02-26T01:26:21-05:00","data":{"cardNo":"18446744073609551879","personId":"12","personCode":"3152828164","checkInAndOutType":0,"picUri":"Vsm://PHQG#20220224#20220224_132118052.d:243329093:63179","temperatureData":"36.1","temperatureStatus":1,"wearMaskStatus":1,"readerIndexCode ":"21","readerName ":"Cardreader 01"}}]}}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}},"security":[{"JWT_Token":[]}]}},"/api/hikcentral/camaraPlacas":{"post":{"tags":["Gestion de Hikcentral"],"summary":"Registrar una camara de placas.","operationId":"postCamaraPlacas","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostHCCamaraPlacas"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Gestion de Hikcentral"],"summary":"Actualizar datos de una camara de placas.","operationId":"patchCamaraPlacas","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchHCCamaraPlacas"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/hikcentral/biometrico":{"post":{"tags":["Gestion de Hikcentral"],"summary":"Registrar un biometrico.","operationId":"postBiometrico","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostHCBiometrico"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Gestion de Hikcentral"],"summary":"Actualizar datos de un biometrico.","operationId":"patchBiometrico","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchHCBiometrico"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/gestionClientes/cliente":{"get":{"tags":["Gestion de clientes"],"summary":"Obtener informacion de los clientes.","operationId":"getCliente","parameters":[{"name":"tipoIdentificacion","in":"query","required":false,"schema":{"type":"string","enum":["CC","NIT","PJE","CE","PAS","CD","TI","DNI","PEP","RC"]}},{"name":"numeroIdentificacion","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cliente"}}}}}},"security":[{"JWT_Token":[]}]},"post":{"tags":["Gestion de clientes"],"summary":"Crear un nuevo cliente.","operationId":"postCliente","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostCliente"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Gestion de clientes"],"summary":"Actualizar datos de un cliente.","operationId":"patchCliente","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchCliente"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/configuracionGeneral/empresa":{"get":{"tags":["Configuracion General"],"summary":"Obtener configuracion de los datos generales de la empresa.","operationId":"getEmpresa","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConfiguracionGeneralEmpresa"}}}}},"security":[{"JWT_Token":[]}]},"post":{"tags":["Configuracion General"],"summary":"Crear o actualizar configuracion de los datos generales de la empresa.","operationId":"postEmpresa","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostConfiguracionGeneralEmpresa"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/configuracionGeneral/divisa":{"post":{"tags":["Configuracion General"],"summary":"Crear nueva divisa.","operationId":"postDivisa","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostDivisa"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Configuracion General"],"summary":"Modificar una divisa.","operationId":"patchDivisa","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchDivisa"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/configuracionGeneral/denominacionDinero":{"post":{"tags":["Configuracion General"],"summary":"Crear nueva denominacion de dinero.","operationId":"postDenominacionDinero","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostDenominacionDinero"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Configuracion General"],"summary":"Modificar una denominacion de dinero.","operationId":"patchDenominacionDinero","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchDenominacionDinero"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/visitante":{"get":{"tags":["Boleteria"],"summary":"Obtener informacion de un visitante.","operationId":"getVisitante_1","parameters":[{"name":"idVisitante","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Visitante"}}}}},"security":[{"JWT_Token":[]}]},"post":{"tags":["Boleteria"],"summary":"Crear un visitante para una reserva especifica.","operationId":"postVisitante_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostVisitante"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Boleteria"],"summary":"Actualizar los datos del visitante.","operationId":"patchVisitante_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchVisitante"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/ubicacionCasillero":{"post":{"tags":["Boleteria"],"summary":"Crear una ubicacion de casilleros.","operationId":"postUbicacionCasillero","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostUbicacionCasillero"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Boleteria"],"summary":"Modificar una ubicacion de casilleros.","operationId":"patchUbicacionCasillero","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchUbicacionCasillero"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/tipoRecargaBilletera":{"post":{"tags":["Boleteria"],"summary":"Crear un nuevo tipo de recarga billetera.","operationId":"postTipoRecargaBilletera","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTipoRecargaBilletera"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Boleteria"],"summary":"Modificar un tipo de recarga billetera.","operationId":"patchTipoRecargaBilletera","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchTipoRecargaBilletera"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/tipoCasilla":{"post":{"tags":["Boleteria"],"summary":"Crear un nuevo tipo de casilla.","operationId":"postTipoCasilla","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTipoCasilla"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Boleteria"],"summary":"Modificar un tipo de casilla.","operationId":"patchTipoCasilla","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchTipoCasilla"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/tipoBoleta":{"get":{"tags":["Boleteria"],"summary":"Obtener informacion de los tipos de boleta.","operationId":"getTipoBoleta","parameters":[{"name":"idTipoBoleta","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TipoBoleta"}}}}}},"security":[{"JWT_Token":[]}]},"post":{"tags":["Boleteria"],"summary":"Crear tipo de boleta.","operationId":"postTipoBoleta","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTipoBoleta"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Boleteria"],"summary":"Actualizar datos del tipo boleta.","operationId":"patchTipoBoleta","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchTipoBoleta"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/tipoBoletaServicioAdicional":{"post":{"tags":["Boleteria"],"summary":"Agregar un servicio adicional a un tipo de boleta.","operationId":"postTipoBoletaServicioAdicional","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTipoBoletaServicioAdicional"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"delete":{"tags":["Boleteria"],"summary":"Remover un servicio adicional de un tipo de boleta.","operationId":"delTipoBoletaServicioAdicional","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DelTipoBoletaServicioAdicional"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/tipoBoletaAtraccion":{"post":{"tags":["Boleteria"],"summary":"Agregar una atraccion a un tipo de boleta.","operationId":"postTipoBoletaAtraccion","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTipoBoletaAtraccion"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"delete":{"tags":["Boleteria"],"summary":"Remover una atraccion de un tipo de boleta.","operationId":"delTipoBoletaAtraccion","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DelTipoBoletaAtraccion"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/taquilla":{"post":{"tags":["Boleteria"],"summary":"Crear una taquilla.","operationId":"postTaquilla","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostTaquilla"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Boleteria"],"summary":"Modificar una taquilla.","operationId":"patchTaquilla","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchTaquilla"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/servicioAdicional":{"get":{"tags":["Boleteria"],"summary":"Obtener informacion de servicios adicionales.","operationId":"getServicioAdicional","parameters":[{"name":"idServicioAdicional","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ServicioAdicional"}}}}}},"security":[{"JWT_Token":[]}]},"post":{"tags":["Boleteria"],"summary":"Crear un servicio adicional.","operationId":"postServicioAdicional","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostServicioAdicional"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Boleteria"],"summary":"Actualizar datos de un servicio adicional.","operationId":"patchServicioAdicional","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchServicioAdicional"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/reserva":{"get":{"tags":["Boleteria"],"summary":"Obtener informacion de una reserva.","operationId":"getReserva","parameters":[{"name":"idReserva","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Reserva"}}}}},"security":[{"JWT_Token":[]}]},"post":{"tags":["Boleteria"],"summary":"Crear una reserva.","operationId":"postReserva","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostReserva"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"delete":{"tags":["Boleteria"],"summary":"Anular una reserva.","operationId":"delReserva","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DelReserva"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/reservaVehiculo":{"post":{"tags":["Boleteria"],"summary":"Agregar reservas de parqueadero a una reserva.","operationId":"postReservaVehiculo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostReservaVehiculo"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Boleteria"],"summary":"Asignar vehiculo a una reserva de parqueadero.","operationId":"patchReservaVehiculo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchReservaVehiculo"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/reservaServicioAdicional":{"post":{"tags":["Boleteria"],"summary":"Agregar servicios adicionales a una reserva.","operationId":"postReservaServicioAdicional","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostReservaServicioAdicional"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/reservaRecargaBilletera":{"post":{"tags":["Boleteria"],"summary":"Agregar recargas de billetera a una reserva.","operationId":"postReservaRecargaBilletera","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostReservaRecargaBilletera"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/reservaProducto":{"post":{"tags":["Boleteria"],"summary":"Crear una reserva usando productos.","operationId":"postReservaProducto","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostReservaProducto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/reservaPago":{"post":{"tags":["Boleteria"],"summary":"Añadir un pago a la reserva.","operationId":"postReservaPago","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostReservaPago"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/reservaCasillas":{"post":{"tags":["Boleteria"],"summary":"Adicionar una reserva de casillas a la reserva especificada.","operationId":"postReservaCasillas","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostReservaCasillas"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ReservaCasilla"}}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/redimirReservaRecargaBilletera":{"post":{"tags":["Boleteria"],"summary":"Reportar la redencion de una recarga de billetera reservada.","operationId":"postRedimirReservaRecargaBilletera","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostRedimirReservaRecargaBilletera"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/recepcionPago":{"get":{"tags":["Boleteria"],"summary":"Obtener informacion de las recepciones de pago.","operationId":"getRecepcionPago","parameters":[{"name":"idRecepcionPago","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RecepcionPago"}}}}}},"security":[{"JWT_Token":[]}]},"post":{"tags":["Boleteria"],"summary":"Crear una nueva recepcion de pago.","operationId":"postRecepcionPago","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostRecepcionPago"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Boleteria"],"summary":"Actualizar datos de una recepcion de pago.","operationId":"patchRecepcionPago","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchRecepcionPago"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/metodoPago":{"get":{"tags":["Boleteria"],"summary":"Obtener informacion de los metodos de pago.","operationId":"getMetodoPago","parameters":[{"name":"idMetodoPago","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MetodoPago"}}}}}},"security":[{"JWT_Token":[]}]},"post":{"tags":["Boleteria"],"summary":"Crear un nuevo metodo de pago.","operationId":"postMetodoPago","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostMetodoPago"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Boleteria"],"summary":"Actualizar datos de un metodo de pago.","operationId":"patchMetodoPago","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchMetodoPago"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/infoBoletaQR":{"post":{"tags":["Boleteria"],"summary":"Obtener informacion de una boleta usando la imagen del codigo QR.","operationId":"infoBoletaQR","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InfoBoletaQRRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Boleta"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/disponibilidades":{"post":{"tags":["Boleteria"],"summary":"Crear varias disponibilidades en las fechas especificadas o en un rango de fechas.","operationId":"postDisponibilidades","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostDisponibilidades"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/disponibilidad":{"get":{"tags":["Boleteria"],"summary":"Obtener la disponibilidad de boletas para una fecha especifica.","operationId":"getDisponibilidad_1","parameters":[{"name":"fecha","in":"query","description":"dd-MM-yyyy","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Disponibilidad"}}}}}},"security":[{"JWT_Token":[]}]},"post":{"tags":["Boleteria"],"summary":"Crear disponibilidad en la fecha especificada.","operationId":"postDisponibilidad_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostDisponibilidad"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Boleteria"],"summary":"Actualizar datos de una disponibilidad.","operationId":"patchDisponibilidad","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchDisponibilidad"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/disponibilidadCasilleros":{"get":{"tags":["Boleteria"],"summary":"Obtener informacion de la disponibilidad los casilleros en la fecha especificada.","operationId":"getdisponibilidadCasilleros","parameters":[{"name":"fecha","in":"query","description":"dd-MM-yyyy","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DisponibilidadCasilleros"}}}}},"security":[{"JWT_Token":[]}]},"post":{"tags":["Boleteria"],"summary":"Crear disponibilidad de los casilleros en la fecha especificada.","operationId":"postDisponibilidadCasilleros","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostDisponibilidadCasilleros"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/descuento":{"get":{"tags":["Boleteria"],"summary":"Obtener informacion de los descuentos existentes para boleteria.","operationId":"getDescuento_1","parameters":[{"name":"idDescuento","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DescuentoBoleteria"}}}}}},"security":[{"JWT_Token":[]}]},"post":{"tags":["Boleteria"],"summary":"Crear nuevo descuento para boleteria.","operationId":"postDescuento_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostDescuentoBoleteria"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/condicionGeneral":{"get":{"tags":["Boleteria"],"summary":"Obtener informacion de las condiciones generales.","operationId":"getCondicionGeneral","parameters":[{"name":"idCondicionGeneral","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CondicionGeneral"}}}}}},"security":[{"JWT_Token":[]}]},"post":{"tags":["Boleteria"],"summary":"Crear una condicion general.","operationId":"postCondicionGeneral","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostCondicionGeneral"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/condicionAcceso":{"get":{"tags":["Boleteria"],"summary":"Obtener informacion de las condiciones de acceso a las atracciones.","operationId":"getCondicionAcceso","parameters":[{"name":"idCondicionAcceso","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CondicionAcceso"}}}}}},"security":[{"JWT_Token":[]}]},"post":{"tags":["Boleteria"],"summary":"Crear una condicion de acceso a atracciones.","operationId":"postCondicionAcceso","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostCondicionAcceso"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Boleteria"],"summary":"Modificar los datos de una condicion de acceso a atracciones.","operationId":"patchCondicionAcceso","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchCondicionAcceso"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/cerrarTaquilla":{"post":{"tags":["Boleteria"],"summary":"Asignar cantidades de cierre y cerrar taquilla.","operationId":"postAbrirTaquilla","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostCerrarTaquilla"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/categoriaServicio":{"get":{"tags":["Boleteria"],"summary":"Obtener informacion de las categorias de servicios adicionales.","operationId":"getCategoriaServicio","parameters":[{"name":"idCategoriaServicio","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CategoriaServicio"}}}}}},"security":[{"JWT_Token":[]}]},"post":{"tags":["Boleteria"],"summary":"Crear una categoria para servicios adicionales.","operationId":"postCategoriaServicio","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostCategoriaServicio"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Boleteria"],"summary":"Actualizar datos de una categoria de servicio.","operationId":"patchCategoriaServicioEstado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchCategoriaServicio"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/categoriaEstatura":{"get":{"tags":["Boleteria"],"summary":"Obtener informacion de las categorias de estatura.","operationId":"getCategoriaEstatura","parameters":[{"name":"idCategoriaEstatura","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CategoriaEstatura"}}}}}},"security":[{"JWT_Token":[]}]},"post":{"tags":["Boleteria"],"summary":"Crear una nueva categoria de estatura.","operationId":"postCategoriaEstatura","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostCategoriaEstatura"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Boleteria"],"summary":"Actualizar datos de una categoria de estatura.","operationId":"patchCategoriaEstatura","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchCategoriaEstatura"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/categoriaEdad":{"get":{"tags":["Boleteria"],"summary":"Obtener informacion de las categorias de edad.","operationId":"getCategoriaEdad","parameters":[{"name":"idCategoriaEdad","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CategoriaEdad"}}}}}},"security":[{"JWT_Token":[]}]},"post":{"tags":["Boleteria"],"summary":"Crear una categoria de edad.","operationId":"postCategoriaEdad","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostCategoriaEdad"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Boleteria"],"summary":"Actualizar datos de una categoria de edad.","operationId":"patchCategoriaEdad","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchCategoriaEdad"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/casillero":{"post":{"tags":["Boleteria"],"summary":"Crear un casillero.","operationId":"postCasillero","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostCasillero"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Boleteria"],"summary":"Modificar un casillero.","operationId":"patchCasillero","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchCasillero"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/casilleroCasillas":{"post":{"tags":["Boleteria"],"summary":"Crear casillas para un casillero.","operationId":"postCasilleroCasillas","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostCasilleroCasillas"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/canal":{"post":{"tags":["Boleteria"],"summary":"Crear un nuevo canal.","operationId":"postCanal","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostCanal"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Boleteria"],"summary":"Modificar un canal.","operationId":"patchCanal","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchCanal"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/atraccion":{"get":{"tags":["Boleteria"],"summary":"Obtener informacion de las atracciones.","operationId":"getAtraccion","parameters":[{"name":"idAtraccion","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Atraccion"}}}}}},"security":[{"JWT_Token":[]}]},"post":{"tags":["Boleteria"],"summary":"Crear una atraccion.","operationId":"postAtraccion","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostAtraccion"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Boleteria"],"summary":"Modificar una atraccion.","operationId":"patchAtraccion","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchAtraccion"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/atraccionCondicionAcceso":{"post":{"tags":["Boleteria"],"summary":"Agregar una condicion de acceso a una atraccion.","operationId":"postAtraccionCondicionAcceso","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostAtraccionCondicionAcceso"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]},"delete":{"tags":["Boleteria"],"summary":"Remover una condicion de acceso a una atraccion.","operationId":"delAtraccionCondicionAcceso","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DelAtraccionCondicionAcceso"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/aplicarDescuento":{"post":{"tags":["Boleteria"],"summary":"Aplicar descuento a una reserva mediante un codigo de descuento.","operationId":"postAplicarDescuento","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostReservaDescuento"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/abrirTaquilla":{"post":{"tags":["Boleteria"],"summary":"Asignar denominaciones de dinero, cantidades de apertura y abrir taquilla.","operationId":"postAbrirTaquilla_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostAbrirTaquilla"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IdMessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/auth/token":{"post":{"tags":["Autenticacion"],"summary":"Obtener tokens para autorizar el acceso a las Apis.","operationId":"token","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoginResponse"}}}}}}},"/api/auth/refreshtoken":{"post":{"tags":["Autenticacion"],"summary":"Obtener un token de acceso para autorizar el acceso a las Apis usando el token de refresco.","operationId":"refreshtoken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenRefreshRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TokenRefreshResponse"}}}}}}},"/api/users/roleEstado":{"patch":{"tags":["Gestion de usuarios"],"summary":"Cambiar estado de un rol.","operationId":"patchRoleEstado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchRoleEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/users/menuEstado":{"patch":{"tags":["Gestion de usuarios"],"summary":"Cambiar estado de un menu.","operationId":"patchMenuEstado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchMenuEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/users/accountEstado":{"patch":{"tags":["Gestion de usuarios"],"summary":"Cambiar estado de una cuenta de usuario.","operationId":"patchAccountEstado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchAccountEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/zonaEstado":{"patch":{"tags":["Parqueadero"],"summary":"Cambiar estado de una zona de parqueadero.","operationId":"patchZona_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchZonaParqueaderoEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/tipoVehiculoEstado":{"patch":{"tags":["Parqueadero"],"summary":"Cambiar el estado del tipo de vehiculo.","operationId":"patchTipoVehiculoEstado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchTipoVehiculoEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/tipoServicioEstado":{"patch":{"tags":["Parqueadero"],"summary":"Cambiar el estado del tipo de servicio.","operationId":"patchTipoServicioEstado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchTipoServicioParqueaderoEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/tipoNovedadEstado":{"patch":{"tags":["Parqueadero"],"summary":"Cambiar el estado del tipo de novedad.","operationId":"patchTipoNovedadEstado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchTipoNovedadParqueaderoEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/tarifaEstado":{"patch":{"tags":["Parqueadero"],"summary":"Cambiar el estado de una tarifa de parqueadero.","operationId":"patchTarifaEstado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchTarifaEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/registroVehiculoSalida":{"patch":{"tags":["Parqueadero"],"summary":"Registra la salida del vehiculo.","operationId":"patchRegistroVehiculoSalida","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchRegistroVehiculoSalida"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/novedadEstado":{"patch":{"tags":["Parqueadero"],"summary":"Cambiar el estado de una novedad.","operationId":"patchNovedadEstado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchNovedadParqueaderoEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/disponibilidadEstado":{"patch":{"tags":["Parqueadero"],"summary":"Cambiar estado de una disponibilidad de parqueadero.","operationId":"patchDisponbilidadEstado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchDisponibilidadParqueaderoEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/descuentoEstado":{"patch":{"tags":["Parqueadero"],"summary":"Camabiar estado de un descuento de parqueadero.","operationId":"patchDescuentoEstado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchDescuentoParqueaderoEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/hikcentral/visitanteFoto":{"get":{"tags":["Gestion de Hikcentral"],"summary":"Obtener foto registrada del visitante en base64.","operationId":"getVisitanteFoto","parameters":[{"name":"idVisitante","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}},"security":[{"JWT_Token":[]}]},"patch":{"tags":["Gestion de Hikcentral"],"summary":"Actualizar la foto del visitante.","operationId":"patchVisitanteFoto","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchHCVisitante"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/hikcentral/camaraPlacasEstado":{"patch":{"tags":["Gestion de Hikcentral"],"summary":"Cambiar estado de una camara de placas.","operationId":"patchCamaraPlacasEstado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchHCCamaraPlacasEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/hikcentral/biometricoEstado":{"patch":{"tags":["Gestion de Hikcentral"],"summary":"Cambiar estado de un biometrico.","operationId":"patchBiometricoEstado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchHCBiometricoEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/gestionClientes/clienteEstado":{"patch":{"tags":["Gestion de clientes"],"summary":"Cambiar estado de un cliente.","operationId":"patchClienteEstado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchClienteEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/configuracionGeneral/denominacionDineroEstado":{"patch":{"tags":["Configuracion General"],"summary":"Cambiar estado de una denominacion de dinero.","operationId":"patchDenominacionDineroEstado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchDenominacionDineroEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/visitanteRegistroEntrada":{"patch":{"tags":["Boleteria"],"summary":"Agregar la informacion del visitante necesaria para el ingreso al parque.","operationId":"patchVisitanteRegistroEntrada","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchVisitanteRegistroEntrada"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/visitanteCasilla":{"patch":{"tags":["Boleteria"],"summary":"Asignar una casilla reservada a un visitante.","operationId":"patchVisitanteCasilla","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchVisistanteCasilla"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/ubicacionCasilleroEstado":{"patch":{"tags":["Boleteria"],"summary":"Cambiar estado de una ubicacion de casilleros.","operationId":"patchUbicacionCasilleroEstado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchUbicacionCasilleroEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/tipoRecargaBilleteraEstado":{"patch":{"tags":["Boleteria"],"summary":"Cambiar estado de un tipo de recarga billetera.","operationId":"patchTipoRecargaBilleteraEstado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchTipoRecargaBilleteraEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/tipoCasillaEstado":{"patch":{"tags":["Boleteria"],"summary":"Cambiar estado de un tipo de casilla.","operationId":"patchTipoCasillaEstado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchTipoCasillaEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/tipoBoletaEstado":{"patch":{"tags":["Boleteria"],"summary":"Cambiar estado del tipo boleta.","operationId":"patchTipoBoletaEstado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchTipoBoletaEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/taquillaEstado":{"patch":{"tags":["Boleteria"],"summary":"Cambiar estado de una taquilla.","operationId":"taquillaEstado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchTaquillaEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/servicioAdicionalEstado":{"patch":{"tags":["Boleteria"],"summary":"Cambiar estado de un servicio adicional.","operationId":"patchServicioAdicionalEstado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchServicioAdicionalEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/recepcionPagoEstado":{"patch":{"tags":["Boleteria"],"summary":"Cambiar estado de una recepcion de pagos.","operationId":"patchRecepcionPagoEstado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchRecepcionPagoEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/metodoPagoEstado":{"patch":{"tags":["Boleteria"],"summary":"Cambiar estado de un metodo de pago.","operationId":"patchMetodoPagoEstado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchMetodoPagoEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/disponibilidadEstado":{"patch":{"tags":["Boleteria"],"summary":"Cambiar estado de una disponibilidad.","operationId":"patchDisponibilidadEstado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchDisponibilidadEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/descuentoEstado":{"patch":{"tags":["Boleteria"],"summary":"Cambiar estado de un descuento.","operationId":"patchDescuentoEstado_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchDescuentoBoleteriaEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/condicionAccesoEstado":{"patch":{"tags":["Boleteria"],"summary":"Cambiar el estado de una condicion de acceso a atracciones.","operationId":"patchCondicionAccesoEstado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchCondicionAccesoEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/categoriaServicioEstado":{"patch":{"tags":["Boleteria"],"summary":"Cambiar estado de una categoria de servicio.","operationId":"patchCategoriaServicioEstado_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchCategoriaServicioEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/categoriaEstaturaEstado":{"patch":{"tags":["Boleteria"],"summary":"Cambiar estado de una categoria de estatura.","operationId":"patchCategoriaEstaturaEstado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchCategoriaEstaturaEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/categoriaEdadEstado":{"patch":{"tags":["Boleteria"],"summary":"Cambiar estado de una categoria de edad.","operationId":"patchCategoriaEdadEstado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchCategoriaEdadEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/casilleroEstado":{"patch":{"tags":["Boleteria"],"summary":"Cambiar estado de un casillero.","operationId":"patchCasilleroEstado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchCasilleroEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/casilla":{"patch":{"tags":["Boleteria"],"summary":"Modificar una casilla.","operationId":"patchCasilla","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchCasilla"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/casillaEstado":{"patch":{"tags":["Boleteria"],"summary":"Cambiar estado de una casilla.","operationId":"patchCasilla_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchCasillaEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/canalEstado":{"patch":{"tags":["Boleteria"],"summary":"Cambiar estado de un canal.","operationId":"patchCanalEstado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchCanalEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/boleteria/atraccionEstado":{"patch":{"tags":["Boleteria"],"summary":"Cambiar estado de una atraccion.","operationId":"patchAtraccionEstado","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchAtraccionEstado"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/vendingMachine/product":{"get":{"tags":["Vending Machine"],"summary":"Obtener infomacion de un producto de una vending machine.","operationId":"getProduct","parameters":[{"name":"key","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"deviceId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductsVending"}}}}},"security":[{"JWT_Token":[]}]}},"/api/vendingMachine/machine":{"get":{"tags":["Vending Machine"],"summary":"Obtener caracteristicas de una vending machine.","operationId":"getMachine","parameters":[{"name":"deviceId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VendingMachine"}}}}},"security":[{"JWT_Token":[]}]}},"/api/vendingMachine/listProducts":{"get":{"tags":["Vending Machine"],"summary":"Obtener lista de productos asociados a una vending.","operationId":"getListProducts","parameters":[{"name":"deviceId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProductsVending"}}}}}},"security":[{"JWT_Token":[]}]}},"/api/vendingMachine/listMachines":{"get":{"tags":["Vending Machine"],"summary":"Obtener lista de vending machines.","operationId":"listMachines","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VendingMachine"}}}}}},"security":[{"JWT_Token":[]}]}},"/api/vendingMachine/keys":{"get":{"tags":["Vending Machine"],"summary":"Obtener lista de codigos de los productos asociados a una vending.","operationId":"getKeys","parameters":[{"name":"deviceId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}},"security":[{"JWT_Token":[]}]}},"/api/users/buscarRole":{"get":{"tags":["Gestion de usuarios"],"summary":"Buscar roles usando filtros de busqueda.","externalDocs":{"description":"Search filter sintax","url":"../docs/filter/index.html"},"operationId":"getBuscarRole","parameters":[{"name":"filter","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Role"}}}}}},"security":[{"JWT_Token":[]}]}},"/api/users/buscarMenu":{"get":{"tags":["Gestion de usuarios"],"summary":"Buscar menu usando filtros de busqueda.","externalDocs":{"description":"Search filter sintax","url":"../docs/filter/index.html"},"operationId":"getBuscarMenu","parameters":[{"name":"filter","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Menu"}}}}}},"security":[{"JWT_Token":[]}]}},"/api/users/buscarAccount":{"get":{"tags":["Gestion de usuarios"],"summary":"Buscar cuentas de usuario usando filtros de busqueda.","externalDocs":{"description":"Search filter sintax","url":"../docs/filter/index.html"},"operationId":"getBuscarAccount","parameters":[{"name":"filter","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Account"}}}}}},"security":[{"JWT_Token":[]}]}},"/api/transaccionPago/buscar":{"get":{"tags":["TransaccionPago"],"summary":"Buscar transacciones de pago usando filtros de busqueda.","externalDocs":{"description":"Search filter sintax","url":"../docs/filter/index.html"},"operationId":"getBuscarTransaccionPago","parameters":[{"name":"filter","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TransaccionPago"}}}}}},"security":[{"JWT_Token":[]}]}},"/api/reportes/taquilla/valorTotalPorMetodoPago":{"get":{"tags":["Reportes"],"summary":"Resumen de transacciones por medio de pago.","operationId":"taquillaValorTotalMetodoPago","parameters":[{"name":"idRegistroTaquilla","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReporteTaquillaValorTotalPorMetodoPago"}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/identificarTipoPlaca":{"get":{"tags":["Parqueadero"],"summary":"Permite identificar el tipo de placa a partir del texto de la placa.","operationId":"identificarTipoPlaca","parameters":[{"name":"placa","in":"query","required":true,"schema":{"maxLength":6,"minLength":5,"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TipoPlacaResponse"}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/generarQRRegistroVehiculo":{"get":{"tags":["Parqueadero"],"summary":"Generar imagen del codigo QR del registro de vehiculo especificado.","operationId":"generarQRRegistroVehiculo","parameters":[{"name":"idRegistroVehiculo","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ImageBase64Response"}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/buscarZonaParqueadero":{"get":{"tags":["Parqueadero"],"summary":"Buscar zonas de parqueadero usando filtros.","externalDocs":{"description":"Search filter sintax","url":"../docs/filter/index.html"},"operationId":"getBuscarZonaParqueadero","parameters":[{"name":"filter","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ZonaParqueadero"}}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/buscarTipoVehiculo":{"get":{"tags":["Parqueadero"],"summary":"Buscar tipos de vehiculo usando filtros.","externalDocs":{"description":"Search filter sintax","url":"../docs/filter/index.html"},"operationId":"getBuscarTipoVehiculo","parameters":[{"name":"filter","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TipoVehiculo"}}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/buscarTipoServicio":{"get":{"tags":["Parqueadero"],"summary":"Buscar tipos de servicio usando filtros.","externalDocs":{"description":"Search filter sintax","url":"../docs/filter/index.html"},"operationId":"getBuscarTipoServicio","parameters":[{"name":"filter","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TipoServicioParqueadero"}}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/buscarTipoNovedad":{"get":{"tags":["Parqueadero"],"summary":"Buscar tipos de novedades usando filtros.","externalDocs":{"description":"Search filter sintax","url":"../docs/filter/index.html"},"operationId":"getBuscarTipoNovedad","parameters":[{"name":"filter","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TipoNovedadParqueadero"}}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/buscarTarifa":{"get":{"tags":["Parqueadero"],"summary":"Buscar tarifas usando filtros.","externalDocs":{"description":"Search filter sintax","url":"../docs/filter/index.html"},"operationId":"getBuscarTarifa","parameters":[{"name":"filter","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Tarifa"}}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/buscarRegistroVehiculo":{"get":{"tags":["Parqueadero"],"summary":"Buscar registros de vehiculo usando filtros.","externalDocs":{"description":"Search filter sintax","url":"../docs/filter/index.html"},"operationId":"getBuscarRegistroVehiculo","parameters":[{"name":"filter","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RegistroVehiculo"}}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/buscarNovedad":{"get":{"tags":["Parqueadero"],"summary":"Buscar novedades usando filtros.","externalDocs":{"description":"Search filter sintax","url":"../docs/filter/index.html"},"operationId":"getBuscarNovedad","parameters":[{"name":"filter","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NovedadParqueadero"}}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/buscarNovedadActividad":{"get":{"tags":["Parqueadero"],"summary":"Buscar actividades de la novedad usando filtros.","externalDocs":{"description":"Search filter sintax","url":"../docs/filter/index.html"},"operationId":"getBuscarNovedadActividad","parameters":[{"name":"filter","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NovedadActividad"}}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/buscarDisponibilidad":{"get":{"tags":["Parqueadero"],"summary":"Buscar disponibilidad usando filtros.","externalDocs":{"description":"Search filter sintax","url":"../docs/filter/index.html"},"operationId":"getBuscarDisponibilidad","parameters":[{"name":"filter","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DisponibilidadParqueadero"}}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/buscarDescuento":{"get":{"tags":["Parqueadero"],"summary":"Buscar descuentos usando filtros.","externalDocs":{"description":"Search filter sintax","url":"../docs/filter/index.html"},"operationId":"getBuscarDescuento","parameters":[{"name":"filter","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DescuentoParqueadero"}}}}}},"security":[{"JWT_Token":[]}]}},"/api/parqueadero/aforo":{"get":{"tags":["Parqueadero"],"summary":"Obtener el aforo de vehiculos.","operationId":"getAforo","parameters":[{"name":"fecha","in":"query","description":"dd-MM-yyyy HH:mm:ss","required":false,"schema":{"pattern":"^\\d{2}-\\d{2}-\\d{4} \\d{2}:\\d{2}:\\d{2}$","type":"string"}},{"name":"idZonaParqueadero","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Aforo"}}}}}},"security":[{"JWT_Token":[]}]}},"/api/lockers/listLockers":{"get":{"tags":["Lockers"],"summary":"Obtener lista de lockers.","operationId":"listLockers","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Locker"}}}}}},"security":[{"JWT_Token":[]}]}},"/api/lockers/listBoxes":{"get":{"tags":["Lockers"],"summary":"Obtener lista de boxes de un casillero.","operationId":"listBoxes","parameters":[{"name":"lockerName","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Box"}}}}}},"security":[{"JWT_Token":[]}]}},"/api/hikcentral/vehicleGroups":{"get":{"tags":["Gestion de Hikcentral"],"summary":"Obtener la lista de grupos de vehiculos.","operationId":"getVehicleGroups","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/VehicleGroup"}}}}}},"security":[{"JWT_Token":[]}]}},"/api/hikcentral/privilegeGroups":{"get":{"tags":["Gestion de Hikcentral"],"summary":"Obtener la lista de grupos de privilegios.","operationId":"getPrivilegeGroups","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PrivilegeGroup"}}}}}},"security":[{"JWT_Token":[]}]}},"/api/hikcentral/organizations":{"get":{"tags":["Gestion de Hikcentral"],"summary":"Obtener la lista de organizaciones.","operationId":"getOrganizations","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Organization"}}}}}},"security":[{"JWT_Token":[]}]}},"/api/hikcentral/eventSubscriptionView":{"get":{"tags":["Gestion de Hikcentral"],"operationId":"eventSubscriptionView","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EventSubscription"}}}}},"security":[{"JWT_Token":[]}]}},"/api/hikcentral/eventImageData":{"get":{"tags":["Gestion de Hikcentral"],"operationId":"eventImageData","parameters":[{"name":"picUri","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}},"security":[{"JWT_Token":[]}]}},"/api/hikcentral/doors":{"get":{"tags":["Gestion de Hikcentral"],"summary":"Obtener la lista de puertas (Biometricos).","operationId":"getDoors","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Door"}}}}}},"security":[{"JWT_Token":[]}]}},"/api/hikcentral/cameras":{"get":{"tags":["Gestion de Hikcentral"],"summary":"Obtener la lista de camaras.","operationId":"getCameras","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Camera"}}}}}},"security":[{"JWT_Token":[]}]}},"/api/hikcentral/buscarCamaraPlacas":{"get":{"tags":["Gestion de Hikcentral"],"summary":"Buscar camara de placas usando filtros de busqueda.","externalDocs":{"description":"Search filter sintax","url":"../docs/filter/index.html"},"operationId":"buscarCamaraPlacas","parameters":[{"name":"filter","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CamaraPlacasHikvision"}}}}}},"security":[{"JWT_Token":[]}]}},"/api/hikcentral/buscarBiometrico":{"get":{"tags":["Gestion de Hikcentral"],"summary":"Buscar biometrico usando filtros de busqueda.","externalDocs":{"description":"Search filter sintax","url":"../docs/filter/index.html"},"operationId":"buscarBiometrico","parameters":[{"name":"filter","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BiometricoHikvision"}}}}}},"security":[{"JWT_Token":[]}]}},"/api/contenido/imagen/publico/{id}":{"get":{"tags":["Contenido"],"summary":"Obtener una imagen publica usando la id.","operationId":"imagePublic","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","format":"byte"}}}}}}}},"/api/contenido/imagen/privado/{id}":{"get":{"tags":["Contenido"],"summary":"Obtener una imagen privada usando la id.","operationId":"imagePrivate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"t","in":"query","description":"ContentToken","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","format":"byte"}}}}}}}},"/api/configuracionGeneral/buscarDivisa":{"get":{"tags":["Configuracion General"],"summary":"Buscar divisa usando filtros de busqueda.","externalDocs":{"description":"Search filter sintax","url":"../docs/filter/index.html"},"operationId":"getBuscarDivisa","parameters":[{"name":"filter","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Divisa"}}}}}},"security":[{"JWT_Token":[]}]}},"/api/configuracionGeneral/buscarDenominacionDinero":{"get":{"tags":["Configuracion General"],"summary":"Buscar denominacion de dinero usando filtros de busqueda.","externalDocs":{"description":"Search filter sintax","url":"../docs/filter/index.html"},"operationId":"getBuscarDenominacionDinero","parameters":[{"name":"filter","in":"query","required":false,"schema":{"type":"stri
[...]
