{
    "openapi": "3.0.1",
    "info": {
        "title": "PCA - Integracion Partners",
        "description": "",
        "contact": {
            "name": "Infomedia",
            "url": "https://www.infomediaservice.com/"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://olimpo.infomediaservice.online/backenddev/",
            "description": "Servidor de desarrollo"
        }
    ],
    "tags": [
        {
            "name": "Autenticacion",
            "description": "Api para el manejo de acceso y autenticacion a las Apis."
        },
        {
            "name": "Partner",
            "description": "Api integracion con partners en la venta de boleteria."
        }
    ],
    "paths": {
        "/api/partner/reserva": {
            "post": {
                "tags": [
                    "Partner"
                ],
                "summary": "Crear una reserva de boletas para un cliente, registrar visitantes, reservar parqueaderos y lockers.",
                "operationId": "postReserva",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostReservaPartner"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IdMessageResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "JWT_Token": []
                    }
                ],
                "parameters": []
            }
        },
        "/api/partner/reservaBoleta": {
            "post": {
                "tags": [
                    "Partner"
                ],
                "summary": "Reserva una boleta para un cliente.",
                "operationId": "postReservaBoleta",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostReservaBoletaPartner"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IdMessageResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "JWT_Token": []
                    }
                ],
                "parameters": []
            }
        },
        "/api/auth/token": {
            "post": {
                "tags": [
                    "Autenticacion"
                ],
                "summary": "Obtener tokens para autorizar el acceso a las Apis.",
                "operationId": "token",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoginResponse"
                                }
                            }
                        }
                    }
                },
                "parameters": []
            }
        },
        "/api/auth/refreshtoken": {
            "post": {
                "tags": [
                    "Autenticacion"
                ],
                "summary": "Obtener un token de acceso para autorizar el acceso a las Apis usando el token de refresco.",
                "operationId": "refreshtoken",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TokenRefreshRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TokenRefreshResponse"
                                }
                            }
                        }
                    }
                },
                "parameters": []
            }
        },
        "/api/partner/partnerInfo": {
            "get": {
                "tags": [
                    "Partner"
                ],
                "summary": "Obtener informacion del partner de la cuenta de usuario actual.",
                "operationId": "getPartnerInfo",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Partner"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "JWT_Token": []
                    }
                ],
                "parameters": []
            }
        },
        "/api/partner/generarQRBoleta": {
            "get": {
                "tags": [
                    "Partner"
                ],
                "summary": "Generar imagen del codigo QR de la boleta especificada.",
                "operationId": "generarQRBoleta",
                "parameters": [
                    {
                        "name": "idBoleta",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ImageBase64Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "JWT_Token": []
                    }
                ]
            }
        },
        "/api/partner/buscarVentaPartner": {
            "get": {
                "tags": [
                    "Partner"
                ],
                "summary": "Buscar ventas realizadas por el partner de la cuenta actual usando filtros de busqueda.",
                "externalDocs": {
                    "description": "Search filter sintax",
                    "url": "https://infomedia-service.github.io/docs/filter/v2/syntax.html"
                },
                "operationId": "getBuscarVentaPartner",
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageVenta"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "JWT_Token": []
                    }
                ]
            }
        },
        "/api/partner/buscarTipoVehiculo": {
            "get": {
                "tags": [
                    "Partner"
                ],
                "summary": "Buscar tipos de vehiculo usando filtros.",
                "externalDocs": {
                    "description": "Search filter sintax",
                    "url": "https://infomedia-service.github.io/docs/filter/v2/syntax.html"
                },
                "operationId": "getBuscarTipoVehiculo",
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageTipoVehiculo"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "JWT_Token": []
                    }
                ]
            }
        },
        "/api/partner/buscarTipoServicio": {
            "get": {
                "tags": [
                    "Partner"
                ],
                "summary": "Buscar tipos de servicio usando filtros.",
                "externalDocs": {
                    "description": "Search filter sintax",
                    "url": "https://infomedia-service.github.io/docs/filter/v2/syntax.html"
                },
                "operationId": "getBuscarTipoServicio",
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageTipoServicioParqueadero"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "JWT_Token": []
                    }
                ]
            }
        },
        "/api/partner/buscarTipoCasilla": {
            "get": {
                "tags": [
                    "Partner"
                ],
                "summary": "Buscar tipo de casilla usando filtros de busqueda.",
                "externalDocs": {
                    "description": "Search filter sintax",
                    "url": "https://infomedia-service.github.io/docs/filter/v2/syntax.html"
                },
                "operationId": "getBuscarTipoCasilla",
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageTipoCasilla"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "JWT_Token": []
                    }
                ]
            }
        },
        "/api/partner/buscarTipoBoleta": {
            "get": {
                "tags": [
                    "Partner"
                ],
                "summary": "Buscar tipo de boleta usando filtros de busqueda.",
                "externalDocs": {
                    "description": "Search filter sintax",
                    "url": "https://infomedia-service.github.io/docs/filter/v2/syntax.html"
                },
                "operationId": "getBuscarTipoBoleta",
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageTipoBoleta"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "JWT_Token": []
                    }
                ]
            }
        },
        "/api/partner/buscarReserva": {
            "get": {
                "tags": [
                    "Partner"
                ],
                "summary": "Buscar reserva usando filtros de busqueda.",
                "externalDocs": {
                    "description": "Search filter sintax",
                    "url": "https://infomedia-service.github.io/docs/filter/v2/syntax.html"
                },
                "operationId": "getBuscarReserva",
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageReserva"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "JWT_Token": []
                    }
                ]
            }
        },
        "/api/partner/buscarPartner": {
            "get": {
                "tags": [
                    "Partner"
                ],
                "summary": "Buscar partner usando filtros de busqueda.",
                "externalDocs": {
                    "description": "Search filter sintax",
                    "url": "https://infomedia-service.github.io/docs/filter/v2/syntax.html"
                },
                "operationId": "getBuscarPartner",
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PagePartner"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "JWT_Token": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "PRReservaProducto": {
                "required": [
                    "cantidad",
                    "idProducto"
                ],
                "type": "object",
                "properties": {
                    "idProducto": {
                        "type": "string",
                        "description": "id del producto",
                        "format": "uuid",
                        "example": "56c9d9b6-dd37-4c39-a4b8-f4763121638c"
                    },
                    "cantidad": {
                        "minimum": 1,
                        "type": "integer",
                        "description": "cantidad del producto a reservar",
                        "format": "int32",
                        "example": 3
                    }
                },
                "description": "lista de productos y cantidades a reservar"
            },
            "PostReservaEmpresa": {
                "required": [
                    "idRegistroVentaMasiva",
                    "productos"
                ],
                "type": "object",
                "properties": {
                    "idRegistroVentaMasiva": {
                        "type": "integer",
                        "description": "id del paquete de venta masiva",
                        "format": "int64",
                        "example": 1
                    },
                    "fecha": {
                        "pattern": "^\\d{2}-\\d{2}-\\d{4}$",
                        "type": "string",
                        "description": "fecha de la reserva",
                        "example": "26-04-2024"
                    },
                    "email": {
                        "maxItems": 2147483647,
                        "minItems": 1,
                        "type": "array",
                        "items": {
                            "maxLength": 255,
                            "minLength": 5,
                            "pattern": "[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?",
                            "type": "string",
                            "description": "direcciones de correo electronico para envio de reservas",
                            "example": "example@email.com"
                        }
                    },
                    "productos": {
                        "maxItems": 2147483647,
                        "minItems": 1,
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PRReservaProducto"
                        }
                    }
                }
            },
            "MessageResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string",
                        "description": "mesaje de respuesta",
                        "example": "respuesta"
                    }
                }
            },
            "PRVMProducto": {
                "required": [
                    "idProducto"
                ],
                "type": "object",
                "properties": {
                    "idProducto": {
                        "type": "string",
                        "description": "id del producto",
                        "format": "uuid"
                    },
                    "valor": {
                        "type": "number",
                        "description": "valor del producto (solo si el paquete es tipo DINERO)",
                        "format": "double",
                        "example": 30000
                    },
                    "cantidad": {
                        "type": "integer",
                        "description": "cantidad del producto (solo si el paquete es tipo CANTIDAD)",
                        "format": "int32",
                        "example": 500
                    }
                },
                "description": "productos ofrecidos en la venta masiva"
            },
            "PostRegistroVentaMasiva": {
                "required": [
                    "idEmpresa",
                    "modalidadPago",
                    "nombre",
                    "productos",
                    "tipoPaquete",
                    "tipoVenta"
                ],
                "type": "object",
                "properties": {
                    "idEmpresa": {
                        "type": "string",
                        "description": "id de la empresa",
                        "format": "uuid",
                        "example": "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"
                    },
                    "nombre": {
                        "maxLength": 50,
                        "minLength": 3,
                        "type": "string",
                        "description": "nombre de paquete de venta masiva",
                        "example": "Bolsa A"
                    },
                    "tipoPaquete": {
                        "type": "string",
                        "description": "tipo de paquete de venta masiva",
                        "example": "CANTIDAD",
                        "enum": [
                            "CANTIDAD",
                            "DINERO"
                        ]
                    },
                    "tipoVenta": {
                        "type": "string",
                        "description": "tipo de venta masiva",
                        "example": "CORPORATIVA",
                        "enum": [
                            "CORPORATIVA",
                            "CORTESIA"
                        ]
                    },
                    "valor": {
                        "type": "number",
                        "description": "valor de la venta masiva",
                        "format": "double",
                        "example": 70000000
                    },
                    "modalidadPago": {
                        "type": "string",
                        "description": "Modalidad de pago de la venta masiva",
                        "example": "CONTADO",
                        "enum": [
                            "CREDITO",
                            "CONTADO"
                        ]
                    },
                    "fechaLimitePago": {
                        "pattern": "^\\d{2}-\\d{2}-\\d{4}$",
                        "type": "string",
                        "description": "Fecha limite de pago (Solo si es en modalidad CREDITO)",
                        "example": "26-04-2024"
                    },
                    "productos": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PRVMProducto"
                        }
                    }
                }
            },
            "IdMessageResponse": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string",
                        "description": "mesaje de respuesta",
                        "example": "respuesta"
                    },
                    "id": {
                        "type": "string",
                        "description": "id del objeto",
                        "example": "1"
                    }
                }
            },
            "PostRecargaRVM": {
                "required": [
                    "idRegistroVentaMasiva"
                ],
                "type": "object",
                "properties": {
                    "idRegistroVentaMasiva": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "dineroRecarga": {
                        "maximum": 999999999.99,
                        "exclusiveMaximum": false,
                        "minimum": 1,
                        "exclusiveMinimum": false,
                        "type": "number",
                        "format": "double"
                    },
                    "productosRecarga": {
                        "maxItems": 2147483647,
                        "minItems": 1,
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PostRecargaRVMProducto"
                        }
                    }
                }
            },
            "PostRecargaRVMProducto": {
                "required": [
                    "cantidadRecarga",
                    "idProducto"
                ],
                "type": "object",
                "properties": {
                    "idProducto": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "cantidadRecarga": {
                        "maximum": 999999,
                        "minimum": 1,
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "IdMessageResponseXObject": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string",
                        "description": "mesaje de respuesta",
                        "example": "respuesta"
                    },
                    "id": {
                        "type": "string",
                        "description": "id del objeto",
                        "example": "1"
                    }
                }
            },
            "PostConfirmarReservaMasiva": {
                "required": [
                    "confirmar",
                    "idRegistroVentaMasiva"
                ],
                "type": "object",
                "properties": {
                    "idRegistroVentaMasiva": {
                        "type": "integer",
                        "description": "id del paquete de venta masiva",
                        "format": "int64",
                        "example": 1
                    },
                    "confirmar": {
                        "type": "boolean",
                        "description": "confirmar o cancelar la reserva (confirmar/true, cancelar/false)",
                        "example": false
                    }
                }
            },
            "PostCargarArchivoPlanoReservaEmpresa": {
                "required": [
                    "base64Data",
                    "extension",
                    "idRegistroVentaMasiva"
                ],
                "type": "object",
                "properties": {
                    "idRegistroVentaMasiva": {
                        "type": "integer",
                        "description": "id del paquete de venta masiva",
                        "format": "int64",
                        "example": 1
                    },
                    "extension": {
                        "type": "string",
                        "description": "extension del archivo",
                        "example": "XLSX",
                        "enum": [
                            "CSV",
                            "XLSX"
                        ]
                    },
                    "base64Data": {
                        "type": "string",
                        "description": "datos binarios del archivo en base64",
                        "example": "UEsDBBQACAAIAAAAAAAAAAAAAAAAAAAAAAAAALAAAAdGVzdC50eHRVVAkAA2NvbnRlbnQvZXBvY2g"
                    }
                }
            },
            "PostCargaManualReservaEmpresa": {
                "required": [
                    "idRegistroVentaMasiva",
                    "visitantes"
                ],
                "type": "object",
                "properties": {
                    "idRegistroVentaMasiva": {
                        "type": "integer",
                        "description": "id del paquete de venta masiva",
                        "format": "int64",
                        "example": 1
                    },
                    "visitantes": {
                        "maxItems": 2147483647,
                        "minItems": 1,
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/VMVisitante"
                        }
                    }
                }
            },
            "VMVisitante": {
                "required": [
                    "apellido",
                    "email",
                    "genero",
                    "idTipoBoleta",
                    "nombre",
                    "numeroIdentificacion",
                    "telefono",
                    "tipoIdentificacion"
                ],
                "type": "object",
                "properties": {
                    "idTipoBoleta": {
                        "type": "integer",
                        "description": "id del tipo de boleta que se asociara al visitante",
                        "format": "int64",
                        "example": 1
                    },
                    "idTipoCasilla": {
                        "type": "integer",
                        "description": "id del tipo de casilla que se asociara al visitante",
                        "format": "int64",
                        "example": 1
                    },
                    "idTipoServicioParqueadero": {
                        "type": "integer",
                        "description": "id del tipo de parqueadero que se asociara al visitante",
                        "format": "int64",
                        "example": 1
                    },
                    "idTipoVehiculo": {
                        "type": "integer",
                        "description": "id del tipo de vehiculo del visitante",
                        "format": "int64",
                        "example": 1
                    },
                    "placa": {
                        "pattern": "^(?:[A-Z]{3}\\d{3}|[A-Z]{2}\\d{4}|[A-Z]\\d{4}|[A-Z]\\d{5}|[A-Z]{3}\\d{2}[A-Z])$",
                        "type": "string",
                        "description": "placa del vehiculo del visitante",
                        "example": "AAA111"
                    },
                    "idServiciosAdicionales": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "description": "lista de ids de servicios adicionales que se asociaran al visitante",
                            "format": "int64"
                        }
                    },
                    "tipoIdentificacion": {
                        "type": "string",
                        "description": "tipo de identificacion del visitante",
                        "example": "CC",
                        "enum": [
                            "CC",
                            "NIT",
                            "CE",
                            "PAS",
                            "TI",
                            "RC",
                            "DNI"
                        ]
                    },
                    "numeroIdentificacion": {
                        "maxLength": 20,
                        "minLength": 1,
                        "pattern": "^[0-9A-Z-]+$",
                        "type": "string",
                        "description": "numero de identificacion del visitante",
                        "example": "1111222333"
                    },
                    "nombre": {
                        "maxLength": 50,
                        "minLength": 1,
                        "type": "string",
                        "description": "nombre del visitante",
                        "example": "nombre 1"
                    },
                    "apellido": {
                        "maxLength": 50,
                        "minLength": 1,
                        "type": "string",
                        "description": "apellido del visitante",
                        "example": "apellido 1"
                    },
                    "email": {
                        "maxLength": 255,
                        "minLength": 5,
                        "pattern": "[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?",
                        "type": "string",
                        "description": "direccion de correo electronico del visitante",
                        "example": "example@email.com"
                    },
                    "telefono": {
                        "pattern": "^\\+?\\d{5,20}$",
                        "type": "string",
                        "description": "telefono del visitante",
                        "example": "3005557777"
                    },
                    "paisProcedencia": {
                        "maxLength": 50,
                        "minLength": 1,
                        "type": "string",
                        "description": "pais de procedencia del visitante",
                        "example": "Colombia"
                    },
                    "ciudadProcedencia": {
                        "maxLength": 50,
                        "minLength": 1,
                        "type": "string",
                        "description": "ciudad de procedencia del visitante",
                        "example": "Bogota"
                    },
                    "fechaNacimiento": {
                        "pattern": "^\\d{2}-\\d{2}-\\d{4}$",
                        "type": "string",
                        "description": "fecha de nacimiento del visitante",
                        "example": "26-04-2024"
                    },
                    "estaturaMayor145": {
                        "type": "boolean",
                        "description": "estatura del visitante en centimetros es mayor a 145cm si/no",
                        "example": true
                    },
                    "genero": {
                        "type": "string",
                        "description": "genero del visitante",
                        "example": "M",
                        "enum": [
                            "M",
                            "F",
                            "O"
                        ]
                    }
                },
                "description": "lista de visitantes a cargar"
            },
            "PostAsignarFechaReservaCortesia": {
                "required": [
                    "fecha",
                    "idReserva"
                ],
                "type": "object",
                "properties": {
                    "idReserva": {
                        "type": "string",
                        "description": "id de la reserva",
                        "format": "uuid",
                        "example": "58189a1d-aadc-4280-83c7-2fa48003062d"
                    },
                    "fecha": {
                        "pattern": "^\\d{2}-\\d{2}-\\d{4}$",
                        "type": "string",
                        "description": "fecha de la reserva",
                        "example": "26-04-2024"
                    }
                }
            },
            "PostRoleMenu": {
                "required": [
                    "idRole",
                    "menus"
                ],
                "type": "object",
                "properties": {
                    "idRole": {
                        "type": "integer",
                        "description": "id del rol",
                        "format": "int64",
                        "example": 1
                    },
                    "menus": {
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "description": "id los menus",
                            "format": "int64",
                            "example": 1
                        }
                    }
                }
            },
            "PostImagen": {
                "required": [
                    "datosBase64",
                    "formato"
                ],
                "type": "object",
                "properties": {
                    "formato": {
                        "type": "string",
                        "description": "extension del formato de la imagen",
                        "example": "JPG",
                        "enum": [
                            "JPG",
                            "PNG"
                        ]
                    },
                    "datosBase64": {
                        "maxLength": 2147483647,
                        "minLength": 100,
                        "type": "string",
                        "description": "datos binarios de la imagen en base64",
                        "example": "/9j/4AAQSkZJRgABAgAAAQABAAD/7QCEUGhvdG9zaG9wIDMuMAA4QklNBAQAAAAAAGccAigAYkZCTUQwMTAwMGFhNjAzMDAwMDY5MD"
                    }
                }
            },
            "PostMenu": {
                "required": [
                    "nombre"
                ],
                "type": "object",
                "properties": {
                    "idMenuPadre": {
                        "type": "integer",
                        "description": "id del menu padre de este menu",
                        "format": "int64",
                        "example": 1
                    },
                    "nombre": {
                        "maxLength": 50,
                        "minLength": 1,
                        "type": "string",
                        "description": "nombre del menu",
                        "example": "Menu A"
                    },
                    "menuInfo": {
                        "$ref": "#/components/schemas/PostMenuInfo"
                    }
                }
            },
            "PostMenuInfo": {
                "required": [
                    "url"
                ],
                "type": "object",
                "properties": {
                    "url": {
                        "maxLength": 150,
                        "minLength": 1,
                        "type": "string",
                        "description": "url del menu",
                        "example": "/menuA/index.html"
                    },
                    "imagen": {
                        "$ref": "#/components/schemas/PostImagen"
                    }
                }
            },
            "PostAccount": {
                "required": [
                    "password",
                    "role",
                    "username"
                ],
                "type": "object",
                "properties": {
                    "username": {
                        "maxLength": 30,
                        "minLength": 4,
                        "pattern": "^[A-Za-z0-9]+(?:[_-][A-Za-z0-9]+)*$",
                        "type": "string",
                        "description": "nombre de usuario",
                        "example": "admin"
                    },
                    "email": {
                        "maxLength": 255,
                        "minLength": 5,
                        "pattern": "[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?",
                        "type": "string",
                        "description": "direccion de correo electronico del usuario",
                        "example": "example@email.com"
                    },
                    "role": {
                        "pattern": "^[A-Za-z]+(_[A-Za-z]+){0,2}$",
                        "type": "string",
                        "description": "nombre del rol",
                        "example": "ADMIN"
                    },
                    "password": {
                        "maxLength": 30,
                        "minLength": 6,
                        "pattern": "^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?=.*[@$!%*?&#¿=])[A-Za-z\\d@$!%*?&#¿=]{6,}$",
                        "type": "string",
                        "description": "contraseña",
                        "example": "Abcd1234$"
                    }
                }
            },
            "PostAccountEmpresa": {
                "required": [
                    "idEmpresa",
                    "password",
                    "username"
                ],
                "type": "object",
                "properties": {
                    "idEmpresa": {
                        "type": "string",
                        "description": "id de la empresa",
                        "format": "uuid",
                        "example": "fed60f91-cf36-4df5-8f4a-6ae81eaba453"
                    },
                    "username": {
                        "maxLength": 30,
                        "minLength": 4,
                        "pattern": "^[A-Za-z0-9]+(?:[_-][A-Za-z0-9]+)*$",
                        "type": "string",
                        "description": "nombre de usuario",
                        "example": "admin"
                    },
                    "email": {
                        "maxLength": 255,
                        "minLength": 5,
                        "pattern": "[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?",
                        "type": "string",
                        "description": "direccion de correo electronico del usuario",
                        "example": "example@email.com"
                    },
                    "password": {
                        "maxLength": 30,
                        "minLength": 6,
                        "type": "string",
                        "description": "contraseña",
                        "example": "abcd1234"
                    }
                }
            },
            "PTTransaccionCambio": {
                "required": [
                    "cambio",
                    "efectivo"
                ],
                "type": "object",
                "properties": {
                    "efectivo": {
                        "minimum": 0,
                        "exclusiveMinimum": false,
                        "type": "number",
                        "description": "efectivo recibido",
                        "format": "double",
                        "example": 50000
                    },
                    "cambio": {
                        "minimum": 0,
                        "exclusiveMinimum": false,
                        "type": "number",
                        "description": "cambio entregado",
                        "format": "double",
                        "example": 10000
                    }
                },
                "description": "efectivo recibido y cambio entregado"
            },
            "PTTransaccionTaquilla": {
                "required": [
                    "idMetodoPago",
                    "valor"
                ],
                "type": "object",
                "properties": {
                    "idMetodoPago": {
                        "type": "integer",
                        "description": "id del metodo de pago",
                        "format": "int64",
                        "example": 1
                    },
                    "valor": {
                        "minimum": 0,
                        "exclusiveMinimum": false,
                        "type": "number",
                        "description": "valor del pago",
                        "format": "double",
                        "example": 50000
                    },
                    "numeroAutorizacion": {
                        "maxLength": 50,
                        "minLength": 1,
                        "type": "string",
                        "description": "numero de autorizacion del pago",
                        "example": "00032325"
                    },
                    "ultimosDigitos": {
                        "maxLength": 4,
                        "minLength": 1,
                        "type": "string",
                        "description": "ultimos digitos del metodo de pago",
                        "example": "4488"
                    },
                    "cambioEfectivo": {
                        "$ref": "#/components/schemas/PTTransaccionCambio"
                    }
                },
                "description": "lista de pagos"
            },
            "PostTransaccionTaquilla": {
                "required": [
                    "idReserva",
                    "pagos",
                    "requiereFactura"
                ],
                "type": "object",
                "properties": {
                    "idReserva": {
                        "type": "string",
                        "description": "id de la reserva",
                        "format": "uuid",
                        "example": "1e9a3afa-210e-4ae7-8544-50a4e26478cd"
                    },
                    "idTaquilla": {
                        "type": "integer",
                        "description": "id de la taquilla en la cual se realiza el pago",
                        "format": "int64",
                        "example": 1
                    },
                    "requiereFactura": {
                        "type": "boolean",
                        "description": "cliente requiere factura electronica (si/no)",
                        "example": false
                    },
                    "pagos": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PTTransaccionTaquilla"
                        }
                    }
                }
            },
            "PostTaquilla": {
                "required": [
                    "nombre"
                ],
                "type": "object",
                "properties": {
                    "nombre": {
                        "maxLength": 50,
                        "minLength": 3,
                        "type": "string",
                        "description": "nombre de la taquilla",
                        "example": "Taquilla A"
                    }
                }
            },
            "PostTaquillaImpresora": {
                "required": [
                    "idImpresora",
                    "idTaquilla"
                ],
                "type": "object",
                "properties": {
                    "idTaquilla": {
                        "type": "integer",
                        "description": "id de la taquilla",
                        "format": "int64",
                        "example": 1
                    },
                    "idImpresora": {
                        "type": "integer",
                        "description": "id de la impresora",
                        "format": "int64",
                        "example": 1
                    }
                }
            },
            "PRReservaBoletas": {
                "required": [
                    "cantidad",
                    "idTipoBoleta"
                ],
                "type": "object",
                "properties": {
                    "idTipoBoleta": {
                        "type": "integer",
                        "description": "id del tipo de boleta",
                        "format": "int64",
                        "example": 1
                    },
                    "cantidad": {
                        "minimum": 1,
                        "type": "integer",
                        "description": "cantidad de boletas a reservar",
                        "format": "int32",
                        "example": 3
                    }
                }
            },
            "PRReservaCasillas": {
                "required": [
                    "cantidad",
                    "idTipoCasilla"
                ],
                "type": "object",
                "properties": {
                    "idTipoCasilla": {
                        "type": "integer",
                        "description": "id del tipo de casilla",
                        "format": "int64",
                        "example": 1
                    },
                    "cantidad": {
                        "minimum": 1,
                        "type": "integer",
                        "description": "cantidad de casillas a reservar",
                        "format": "int32",
                        "example": 3
                    }
                }
            },
            "PRReservaCombo": {
                "required": [
                    "cantidad",
                    "idCombo"
                ],
                "type": "object",
                "properties": {
                    "idCombo": {
                        "type": "string",
                        "description": "id del combo",
                        "format": "uuid",
                        "example": "3889e90c-3597-4b7c-b7ad-d99ceb6b7dbf"
                    },
                    "cantidad": {
                        "minimum": 1,
                        "type": "integer",
                        "description": "cantidad del combo a reservar",
                        "format": "int32",
                        "example": 2
                    }
                }
            },
            "PRReservaServicioAdicional": {
                "required": [
                    "cantidad",
                    "idServicioAdicional"
                ],
                "type": "object",
                "properties": {
                    "idServicioAdicional": {
                        "type": "integer",
                        "description": "id del servicio adicional",
                        "format": "int64",
                        "example": 1
                    },
                    "cantidad": {
                        "type": "integer",
                        "description": "cantidad a reservar del servicio adicional",
                        "format": "int32",
                        "example": 3
                    }
                }
            },
            "PRReservaVehiculoAlter": {
                "required": [
                    "idTipoServicio",
                    "idTipoVehiculo",
                    "placa"
                ],
                "type": "object",
                "properties": {
                    "idTipoServicio": {
                        "type": "integer",
                        "description": "id del tipo de servicio de parqueadero",
                        "format": "int64",
                        "example": 1
                    },
                    "idTipoVehiculo": {
                        "type": "integer",
                        "description": "id del tipo de vehiculo del vehiculo que se asignara a la reserva de vehiculo",
                        "format": "int64",
                        "example": 1
                    },
                    "placa": {
                        "pattern": "^(?:[A-Z]{3}\\d{3}|[A-Z]{2}\\d{4}|[A-Z]\\d{4}|[A-Z]\\d{5}|[A-Z]{3}\\d{2}[A-Z])$",
                        "type": "string",
                        "description": "placa del vehiculo que se asignara a la reserva de vehiculo",
                        "example": "AAA111"
                    }
                }
            },
            "PostReservaTaquilla": {
                "required": [
                    "idTaquilla",
                    "numeroIdentificacion",
                    "tipoIdentificacion"
                ],
                "type": "object",
                "properties": {
                    "tipoIdentificacion": {
                        "type": "string",
                        "description": "tipo de identificacion del cliente",
                        "example": "CC",
                        "enum": [
                            "CC",
                            "NIT",
                            "CE",
                            "PAS",
                            "TI",
                            "RC",
                            "DNI"
                        ]
                    },
                    "numeroIdentificacion": {
                        "maxLength": 20,
                        "minLength": 1,
                        "pattern": "^[0-9A-Z-]+$",
                        "type": "string",
                        "description": "numero de identificacion del cliente",
                        "example": "1111111111"
                    },
                    "fecha": {
                        "pattern": "^\\d{2}-\\d{2}-\\d{4}$",
                        "type": "string",
                        "description": "fecha de la reserva",
                        "example": "26-04-2024"
                    },
                    "idTaquilla": {
                        "type": "integer",
                        "description": "id de la taquilla en la cual se realiza la reserva",
                        "format": "int64",
                        "example": 1
                    },
                    "boletas": {
                        "maxItems": 2147483647,
                        "minItems": 1,
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PRReservaBoletas"
                        }
                    },
                    "casillas": {
                        "maxItems": 2147483647,
                        "minItems": 1,
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PRReservaCasillas"
                        }
                    },
                    "vehiculos": {
                        "maxItems": 2147483647,
                        "minItems": 1,
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PRReservaVehiculoAlter"
                        }
                    },
                    "serviciosAdicionales": {
                        "maxItems": 2147483647,
                        "minItems": 1,
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PRReservaServicioAdicional"
                        }
                    },
                    "combos": {
                        "maxItems": 2147483647,
                        "minItems": 1,
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PRReservaCombo"
                        }
                    },
                    "codigoDescuento": {
                        "pattern": "^[A-Z0-9]{10}$",
                        "type": "string",
                        "description": "codigo de descuento",
                        "example": "D1AHF524A1"
                    },
                    "clienteEsVisitante": {
                        "type": "boolean",
                        "description": "si es verdadero se llena los datos de todos los visitantes con los datos del cliente",
                        "example": false
                    }
                }
            },
            "PostMetodoPago": {
                "required": [
                    "cuentaDestino",
                    "nombre",
                    "recepcionesPago",
                    "requiereDatosAutorizacion",
                    "tipo"
                ],
                "type": "object",
                "properties": {
                    "nombre": {
                        "maxLength": 50,
                        "minLength": 3,
                        "type": "string",
                        "description": "nombre del metodo de pago",
                        "example": "Metodo de pago A"
                    },
                    "cuentaDestino": {
                        "maxLength": 30,
                        "minLength": 1,
                        "type": "string",
                        "description": "cuenta destino a la cual se transfieren los pago realizados",
                        "example": "1111444499997777"
                    },
                    "tipo": {
                        "type": "string",
                        "description": "tipo de metodo de pago",
                        "example": "ELECTRONICO",
                        "enum": [
                            "EFECTIVO",
                            "ELECTRONICO",
                            "DATAFONO"
                        ]
                    },
                    "requiereDatosAutorizacion": {
                        "type": "boolean",
                        "description": "el metodo de pago requiere datos de autorizacion (si/no)",
                        "example": false
                    },
                    "recepcionesPago": {
                        "maxItems": 2147483647,
                        "minItems": 1,
                        "type": "array",
                        "items": {
                            "maxLength": 2147483647,
                            "minLength": 1,
                            "type": "string",
                            "description": "lista de recepciones de pago asociadas al metodo de pago",
                            "enum": [
                                "TAQUILLA",
                                "PASARELA",
                                "PARTNER",
                                "PARQUEADERO"
                            ]
                        }
                    }
                }
            },
            "PostDivisa": {
                "required": [
                    "abreviatura",
                    "nombre"
                ],
                "type": "object",
                "properties": {
                    "nombre": {
                        "maxLength": 50,
                        "minLength": 4,
                        "type": "string",
                        "description": "nombre de la divisa",
                        "example": "Peso colombiano"
                    },
                    "abreviatura": {
                        "maxLength": 3,
                        "minLength": 3,
                        "pattern": "^[A-Z]{3}$",
                        "type": "string",
                        "description": "abreviatura de la divisa",
                        "example": "COP"
                    }
                }
            },
            "PostDenominacionDinero": {
                "required": [
                    "denominacion",
                    "idDivisa",
                    "tipo"
                ],
                "type": "object",
                "properties": {
                    "tipo": {
                        "type": "string",
                        "description": "tipo de denominacion de dinero",
                        "example": "MONEDA",
                        "enum": [
                            "BILLETE",
                            "MONEDA"
                        ]
                    },
                    "denominacion": {
                        "minimum": 0,
                        "exclusiveMinimum": false,
                        "type": "number",
                        "description": "valor de la denominacion de dinero",
                        "format": "double",
                        "example": 5000
                    },
                    "idDivisa": {
                        "type": "integer",
                        "description": "id de la divisa",
                        "format": "int64",
                        "example": 1
                    }
                }
            },
            "PCTDineroTaquilla": {
                "required": [
                    "cantidadCierre",
                    "idDenominacionDinero"
                ],
                "type": "object",
                "properties": {
                    "idDenominacionDinero": {
                        "type": "integer",
                        "description": "id de la denominacion de dinero",
                        "format": "int64",
                        "example": 1
                    },
                    "cantidadCierre": {
                        "minimum": 0,
                        "type": "integer",
                        "description": "cantidad de la denominacion para cierre",
                        "format": "int32",
                        "example": 10
                    }
                },
                "description": "registro de dinero para cierre"
            },
            "PCTSaldoFinalMetodoPago": {
                "required": [
                    "idMetodoPago",
                    "saldoFinal"
                ],
                "type": "object",
                "properties": {
                    "idMetodoPago": {
                        "type": "integer",
                        "description": "id del metodo de pago",
                        "format": "int64",
                        "example": 1
                    },
                    "saldoFinal": {
                        "minimum": 0,
                        "type": "number",
                        "description": "saldo final del metodo de pago",
                        "format": "double",
                        "example": 10000
                    }
                },
                "description": "saldo final por metodo de pago"
            },
            "PostCerrarTaquilla": {
                "required": [
                    "idTaquilla",
                    "registroDinero"
                ],
                "type": "object",
                "properties": {
                    "idTaquilla": {
                        "type": "integer",
                        "description": "id de la taquilla",
                        "format": "int64",
                        "example": 1
                    },
                    "registroDinero": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PCTDineroTaquilla"
                        }
                    },
                    "saldoFinalMetodosPago": {
                        "maxItems": 2147483647,
                        "minItems": 1,
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PCTSaldoFinalMetodoPago"
                        }
                    },
                    "observaciones": {
                        "maxLength": 255,
                        "minLength": 1,
                        "type": "string"
                    }
                }
            },
            "PATDineroTaquilla": {
                "required": [
                    "cantidadApertura",
                    "idDenominacionDinero"
                ],
                "type": "object",
                "properties": {
                    "idDenominacionDinero": {
                        "type": "integer",
                        "description": "id de la denominacion de dinero",
                        "format": "int64"
                    },
                    "cantidadApertura": {
                        "minimum": 0,
                        "type": "integer",
                        "description": "cantidad de la denominacion para apertura",
                        "format": "int32"
                    }
                },
                "description": "registro de dinero para apertura"
            },
            "PostAbrirTaquilla": {
                "required": [
                    "idAccountUsuario",
                    "idTaquilla",
                    "registroDinero",
                    "saldoInicialCaja"
                ],
                "type": "object",
                "properties": {
                    "idTaquilla": {
                        "type": "integer",
                        "description": "id de la taquilla",
                        "format": "int64",
                        "example": 1
                    },
                    "idAccountUsuario": {
                        "type": "string",
                        "description": "id de la cuenta de usuario que abre la taquilla",
                        "format": "uuid",
                        "example": "ee843a56-41d2-4e3a-b899-51fc5cb218ee"
                    },
                    "saldoInicialCaja": {
                        "minimum": 0,
                        "exclusiveMinimum": false,
                        "type": "number",
                        "description": "saldo inicial de caja para la apertura de taquilla",
                        "format": "double",
                        "example": 50000
                    },
                    "registroDinero": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PATDineroTaquilla"
                        }
                    }
                }
            },
            "PostRetrySendSiigo": {
                "required": [
                    "idFacturaVenta"
                ],
                "type": "object",
                "properties": {
                    "idFacturaVenta": {
                        "type": "integer",
                        "description": "Id de la factura de venta",
                        "format": "int64",
                        "example": 1
                    }
                }
            },
            "PostConfiguration": {
                "required": [
                    "documentId",
                    "inventoryId",
                    "ivaTaxId",
                    "maxSellValuePost",
                    "sellerId",
                    "sendDian",
                    "sendEmail",
                    "sendSiigo"
                ],
                "type": "object",
                "properties": {
                    "documentId": {
                        "type": "integer",
                        "description": "Id del documento de facturacion",
                        "format": "int32",
                        "example": 24446
                    },
                    "sellerId": {
                        "type": "integer",
                        "description": "id del vendedor",
                        "format": "int32",
                        "example": 629
                    },
                    "inventoryId": {
                        "type": "integer",
                        "description": "id del inventario",
                        "format": "int32",
                        "example": 1253
                    },
                    "sendDian": {
                        "type": "boolean",
                        "description": "enviar a la dian (si/no)",
                        "example": false
                    },
                    "sendEmail": {
                        "type": "boolean",
                        "description": "enviar correo al comprador (si/no)",
                        "example": false
                    },
                    "sendSiigo": {
                        "type": "boolean",
                        "description": "enviar a siigo (si/no)",
                        "example": false
                    },
                    "ivaTaxId": {
                        "type": "integer",
                        "description": "id del impuesto iva",
                        "format": "int32",
                        "example": 13156
                    },
                    "maxSellValuePost": {
                        "type": "number",
                        "description": "valor maximo de venta post",
                        "format": "double",
                        "example": 212060
                    }
                }
            },
            "PostAssociatePaymentTypes": {
                "required": [
                    "idMetodoPago"
                ],
                "type": "object",
                "properties": {
                    "idMetodoPago": {
                        "type": "integer",
                        "description": "Id del metodo de pago en pca",
                        "format": "int64",
                        "example": 1
                    },
                    "idPaymentType": {
                        "maxLength": 30,
                        "minLength": 1,
                        "type": "string",
                        "description": "Id del payment type en siigo",
                        "example": "5638"
                    }
                }
            },
            "PostUbicacionRfid": {
                "required": [
                    "aforoMax",
                    "idZona",
                    "lat",
                    "lng",
                    "nombre"
                ],
                "type": "object",
                "properties": {
                    "nombre": {
                        "maxLength": 50,
                        "minLength": 0,
                        "type": "string",
                        "description": "Nombre de la ubicación",
                        "example": "Atraccion X"
                    },
                    "lat": {
                        "type": "number",
                        "description": "Latitud de la ubicación",
                        "format": "double",
                        "example": 4.123456
                    },
                    "lng": {
                        "type": "number",
                        "description": "Longitud de la ubicación",
                        "format": "double",
                        "example": -74.123456
                    },
                    "aforoMax": {
                        "minimum": 1,
                        "type": "integer",
                        "description": "Aforo máximo de la ubicación",
                        "format": "int32",
                        "example": 300
                    },
                    "idZona": {
                        "type": "string",
                        "description": "id de la zona",
                        "format": "uuid",
                        "example": "9440b3dd-da8b-46ac-ac1a-06ec7ebd6c1e"
                    }
                }
            },
            "RfidPostZona": {
                "required": [
                    "nombre"
                ],
                "type": "object",
                "properties": {
                    "nombre": {
                        "maxLength": 100,
                        "minLength": 1,
                        "type": "string",
                        "description": "nombre de la zona",
                        "example": "zona1"
                    }
                }
            },
            "RfidPostDispositivoLectura": {
                "required": [
                    "direccionIp",
                    "direccionMac",
                    "idUbicacion",
                    "marca",
                    "nombre",
                    "referencia"
                ],
                "type": "object",
                "properties": {
                    "nombre": {
                        "maxLength": 100,
                        "minLength": 1,
                        "type": "string",
                        "description": "nombre del dispositivo de lectura",
                        "example": "nombre1"
                    },
                    "referencia": {
                        "maxLength": 100,
                        "minLength": 1,
                        "type": "string",
                        "description": "referencia del dispositivo",
                        "example": "Referenia1"
                    },
                    "direccionMac": {
                        "maxLength": 50,
                        "minLength": 1,
                        "type": "string",
                        "description": "diraccion MAC unica del dispositivo",
                        "example": "abcde1234"
                    },
                    "direccionIp": {
                        "maxLength": 20,
                        "minLength": 1,
                        "type": "string",
                        "description": "direccion ip del dispositivo",
                        "example": "127.0.0.1"
                    },
                    "marca": {
                        "maxLength": 50,
                        "minLength": 1,
                        "type": "string",
                        "description": "marca del dispositivo",
                        "example": "Speedwork"
                    },
                    "tipoDispositivo": {
                        "type": "string",
                        "description": "tipo de dispositivo",
                        "example": "READER"
                    },
                    "idUbicacion": {
                        "type": "string",
                        "description": "id de la ubicacion",
                        "format": "uuid",
                        "example": "9440b3dd-da8b-46ac-ac1a-06ec7ebd6c1e"
                    }
                }
            },
            "RfidPostAntena": {
                "required": [
                    "canal",
                    "idDispositivoLectura",
                    "idUbicacionDispositivo",
                    "nombre"
                ],
                "type": "object",
                "properties": {
                    "nombre": {
                        "maxLength": 100,
                        "minLength": 1,
                        "type": "string",
                        "description": "nombre de la antena",
                        "example": "antena1"
                    },
                    "canal": {
                        "maximum": 16,
                        "minimum": 1,
                        "type": "integer",
                        "description": "Canal",
                        "format": "int32",
                        "example": 1
                    },
                    "idUbicacionDispositivo": {
                        "type": "string",
                        "description": "id de la ubicacion",
                        "format": "uuid",
                        "example": "9440b3dd-da8b-46ac-ac1a-06ec7ebd6c1e"
                    },
                    "idDispositivoLectura": {
                        "type": "integer",
                        "description": "id del dispositivo de lectura",
                        "format": "int64",
                        "example": 1
                    }
                }
            },
            "PostLinkForPassword": {
                "required": [
                    "email"
                ],
                "type": "object",
                "properties": {
                    "email": {
                        "maxLength": 255,
                        "minLength": 5,
                        "pattern": "[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?",
                        "type": "string",
                        "description": "direccion de correo electronico del destinatario",
                        "example": "example@email.com"
                    },
                    "urlName": {
                        "type": "string",
                        "enum": [
                            "EMPRESA",
                            "TAQUILLA"
                        ]
                    }
                }
            },
            "PostIniciarTransaccionPasarela": {
                "required": [
                    "id",
                    "idMetodoPago",
                    "idReserva"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "maxLength": 50,
                        "minLength": 0,
                        "type": "string",
                        "description": "id de la transaccion",
                        "example": "1c8356b0e24442b2acc579cf1ae4d8145"
                    },
                    "idReserva": {
                        "type": "string",
                        "description": "id de la reserva que esta asociada con esta transaccion",
                        "format": "uuid",
                        "example": "dd23c94b-7d25-4247-a74a-f15ccd1de435"
                    },
                    "valor": {
                        "type": "number",
                        "description": "valor de la transaccion",
                        "format": "double",
                        "example": 90000
                    },
                    "origen": {
                        "type": "string",
                        "description": "origen de la transaccion",
                        "example": "Origen X"
                    },
                    "ip": {
                        "type": "string",
                        "description": "direccion ip del cliente asociado con esta transaccion",
                        "example": "192.168.1.1"
                    },
                    "idMetodoPago": {
                        "type": "integer",
                        "description": "id del metodo de pago",
                        "format": "int64",
                        "example": 1
                    }
                }
            },
            "PostFinalizarTransaccionPasarela": {
                "required": [
                    "estado",
                    "id",
                    "requiereFactura"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "maxLength": 50,
                        "minLength": 0,
                        "type": "string",
                        "description": "id de la transaccion transaccion",
                        "example": "1c8356b0e24442b2acc579cf1ae4d8145"
                    },
                    "estado": {
                        "type": "string",
                        "description": "estado de la transaccion al finalizar (No puede ser EN_PROCESO)",
                        "example": "APROBADO",
                        "enum": [
                            "APROBADO",
                            "EN_PROCESO",
                            "CANCELADO",
                            "RECHAZADO"
                        ]
                    },
                    "requiereFactura": {
                        "type": "boolean",
                        "description": "cliente requiere factura electronica (si/no)",
                        "example": false
                    },
                    "jsonResultado": {
                        "type": "string",
                        "description": "json del resultado de la transaccion",
                        "example": "{...}"
                    }
                }
            },
            "PRBPBoleta": {
                "required": [
                    "idTipoBoleta",
                    "visitante"
                ],
                "type": "object",
                "properties": {
                    "idTipoBoleta": {
                        "type": "integer",
                        "description": "id del tipo de boleta",
                        "format": "int64",
                        "example": 1
                    },
                    "visitante": {
                        "$ref": "#/components/schemas/PostVisitante"
                    },
                    "idTipoCasilla": {
                        "type": "integer",
                        "description": "id de la casilla (null si no aplica)",
                        "format": "int64",
                        "example": 1
                    }
                },
                "description": "boletas a reservar"
            },
            "PRBPVehiculo": {
                "required": [
                    "idTipoServicio",
                    "idTipoVehiculo",
                    "placa"
                ],
                "type": "object",
                "properties": {
                    "idTipoServicio": {
                        "type": "integer",
                        "description": "id del tipo de servicio de parqueadero",
                        "format": "int64",
                        "example": 1
                    },
                    "idTipoVehiculo": {
                        "type": "integer",
                        "description": "id del tipo de vehiculo del vehiculo que se asignara a la reserva de vehiculo",
                        "format": "int64",
                        "example": 1
                    },
                    "placa": {
                        "pattern": "^(?:[A-Z]{3}\\d{3}|[A-Z]{2}\\d{4}|[A-Z]\\d{4}|[A-Z]\\d{5}|[A-Z]{3}\\d{2}[A-Z])$",
                        "type": "string",
                        "description": "placa del vehiculo que se asignara a la reserva de vehiculo",
                        "example": "AAA111"
                    }
                },
                "description": "espacio del parqueadero a reservar"
            },
            "PostReservaPartner": {
                "required": [
                    "apellido",
                    "boletas",
                    "email",
                    "fecha",
                    "nombre",
                    "numeroIdentificacion",
                    "telefono",
                    "tipoIdentificacion"
                ],
                "type": "object",
                "properties": {
                    "fecha": {
                        "pattern": "^\\d{2}-\\d{2}-\\d{4}$",
                        "type": "string",
                        "description": "fecha de la reserva",
                        "example": "26-04-2024"
                    },
                    "tipoIdentificacion": {
                        "type": "string",
                        "description": "tipo de identificacion del cliente",
                        "example": "CC",
                        "enum": [
                            "CC",
                            "NIT",
                            "CE",
                            "PAS",
                            "TI",
                            "RC",
                            "DNI"
                        ]
                    },
                    "numeroIdentificacion": {
                        "maxLength": 20,
                        "minLength": 1,
                        "pattern": "^[0-9A-Z-]+$",
                        "type": "string",
                        "description": "numero de identificacion del cliente",
                        "example": "1111222333"
                    },
                    "nombre": {
                        "maxLength": 50,
                        "minLength": 1,
                        "type": "string",
                        "description": "nombre del cliente",
                        "example": "Juan"
                    },
                    "apellido": {
                        "maxLength": 50,
                        "minLength": 1,
                        "type": "string",
                        "description": "apellido del cliente",
                        "example": "Perez"
                    },
                    "email": {
                        "maxLength": 255,
                        "minLength": 5,
                        "pattern": "[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?",
                        "type": "string",
                        "description": "direccion de correo electronico del cliente",
                        "example": "example@email.com"
                    },
                    "telefono": {
                        "pattern": "^\\+?\\d{5,20}$",
                        "type": "string",
                        "description": "telefono del cliente",
                        "example": "3005557777"
                    },
                    "enviarCorreos": {
                        "type": "boolean",
                        "description": "indica si se deben enviar correos de confirmacion (Correo de compra de reserva, correo boleta codigo QR)",
                        "example": false
                    },
                    "boletas": {
                        "maxItems": 2147483647,
                        "minItems": 1,
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PRBPBoleta"
                        }
                    },
                    "vehiculos": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PRBPVehiculo"
                        }
                    }
                }
            },
            "PostVisitante": {
                "required": [
                    "apellido",
                    "genero",
                    "nombre",
                    "numeroIdentificacion",
                    "tipoIdentificacion"
                ],
                "type": "object",
                "properties": {
                    "tipoIdentificacion": {
                        "type": "string",
                        "description": "tipo de identificacion del visitante",
                        "example": "CC",
                        "enum": [
                            "CC",
                            "NIT",
                            "CE",
                            "PAS",
                            "TI",
                            "RC",
                            "DNI"
                        ]
                    },
                    "numeroIdentificacion": {
                        "maxLength": 20,
                        "minLength": 1,
                        "pattern": "^[0-9A-Z-]+$",
                        "type": "string",
                        "description": "numero de identificacion del visitante",
                        "example": "1111222333"
                    },
                    "nombre": {
                        "maxLength": 50,
                        "minLength": 1,
                        "type": "string",
                        "description": "nombre del visitante",
                        "example": "nombre 1"
                    },
                    "apellido": {
                        "maxLength": 50,
                        "minLength": 1,
                        "type": "string",
                        "description": "apellido del visitante",
                        "example": "apellido 1"
                    },
                    "email": {
                        "maxLength": 255,
                        "minLength": 5,
                        "pattern": "[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?",
                        "type": "string",
                        "description": "direccion de correo electronico del visitante",
                        "example": "example@email.com"
                    },
                    "telefono": {
                        "pattern": "^\\+?\\d{5,20}$",
                        "type": "string",
                        "description": "telefono del visitante",
                        "example": "3005557777"
                    },
                    "paisProcedencia": {
                        "maxLength": 50,
                        "minLength": 1,
                        "type": "string",
                        "description": "pais de procedencia del visitante",
                        "example": "Colombia"
                    },
                    "ciudadProcedencia": {
                        "maxLength": 50,
                        "minLength": 1,
                        "type": "string",
                        "description": "ciudad de procedencia del visitante",
                        "example": "Bogota"
                    },
                    "fechaNacimiento": {
                        "pattern": "^\\d{2}-\\d{2}-\\d{4}$",
                        "type": "string",
                        "description": "fecha de nacimiento del visitante",
                        "example": "26-04-2024"
                    },
                    "estaturaMayor145": {
                        "type": "boolean",
                        "description": "estatura del visitante en centimetros es mayor a 145cm si/no",
                        "example": true
                    },
                    "genero": {
                        "type": "string",
                        "description": "genero del visitante",
                        "example": "M",
                        "enum": [
                            "M",
                            "F",
                            "O"
                        ]
                    }
                },
                "description": "datos del visitante"
            },
            "PostReservaBoletaPartner": {
                "required": [
                    "apellido",
                    "email",
                    "nombre",
                    "numeroIdentificacion",
                    "tarifa",
                    "telefono",
                    "tipoIdentificacion"
                ],
                "type": "object",
                "properties": {
                    "fecha": {
                        "pattern": "^\\d{2}-\\d{2}-\\d{4}$",
                        "type": "string",
                        "description": "fecha de la reserva",
                        "example": "26-04-2024"
                    },
                    "tipoIdentificacion": {
                        "type": "string",
                        "description": "tipo de identificacion del cliente",
                        "example": "CC",
                        "enum": [
                            "CC",
                            "NIT",
                            "CE",
                            "PAS",
                            "TI",
                            "RC",
                            "DNI"
                        ]
                    },
                    "numeroIdentificacion": {
                        "maxLength": 20,
                        "minLength": 1,
                        "pattern": "^[0-9A-Z-]+$",
                        "type": "string",
                        "description": "numero de identificacion del cliente",
                        "example": "1111222333"
                    },
                    "nombre": {
                        "maxLength": 50,
                        "minLength": 1,
                        "type": "string",
                        "description": "nombre del cliente",
                        "example": "Juan"
                    },
                    "apellido": {
                        "maxLength": 50,
                        "minLength": 1,
                        "type": "string",
                        "description": "apellido del cliente",
                        "example": "Perez"
                    },
                    "email": {
[...]
